a {
  color: var(--black);
  opacity: 0.85;
  transition: opacity 200ms;
}

a:hover {
  opacity: 1;
}

p {
  color: var(--gray-dark);
}

strong {
  font-weight: inherit;
}

address {
  font-style: normal;
}

main {
  margin-top: 175px;
}