nav {
  background-color: var(--secondary);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.nav-links {
  display: flex;
  gap: 10px;
  list-style: none;
  padding-left: 0;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo p {
  width: 35.41px;
  margin: 0;
  font-size: 0.59rem;
  font-weight: bold;
  color: var(--black);
  line-height: 1.1;
  position: relative;
  top: 7px;
  left: -5px;
}

@media (max-width: 37.5rem) {
  .nav-logo p {
    font-size: 0.77rem;
    top: 8px;
    left: -6px;
  }
}

@media (max-width: 48.5rem) {
  .nav-links li:not(:last-child) {
      display: none;
  }
}