.service {
  display: flex;
  gap: var(--gap);
  margin-bottom: 100px;
}

.service-img {
  border-radius: 50%;
  width: clamp(175px, 20vw, 300px);
  height: clamp(175px, 20vw, 300px);
}

.service:nth-child(odd) .service-img {
  order: 1;
}

@media (max-width: 37.5rem) {
  .service {
      display: block;
  }
}